body {
  background-color: #fff;
}

.circulo {
  width: 100px;
  height: 100px;
  border-radius: 50%; 
  background-color: red;
  margin: 50px;
}
.retanguloG {
  width: 120px;
  height: 180px;
  border-radius: 0%;
  background-color: red;
  margin: 1px;
}
.retanguloM {
  width: 120px;
  height: 140px;
  border-radius: 0%;
  background-color: red;
  margin: 1px;
}
.right {
  float: right;
}
.left {
  float: left;
}
